@page "/studio"
<h3>Studio</h3>
@rendermode interactiveServer



<p> введите возраст:</p>
<input @bind="age" type="number" />
<p>@message</p>


@code {
	private int age = 20; 

	private string message{

		get{
			if (age >= 18)
				return "вы взрослый";

		else 
		return "вы ребенок";
		}

	}
}
