@page "/studio"
@rendermode InteractiveServer
<h3>Studio</h3>


<p> введите возраст:</p>
<input @bind="age" type="number" />
<button @onclick="Update">узнать</button>
<p>@message</p>

@code {
    private int age = 0;
    private string message = "";

    private void Update ()
    {
        if (age >= 18)
            message = "вы взрослый";
        else
            message = "вы ребенок";
    }
}
