<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp1</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Ismail" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Ismail
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="privet" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> privet
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="index" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> index
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="studio" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> studio
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="runet" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> runet
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="aiii" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> aiii
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dz-5" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> dz-5
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="component-dz" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> component-dz
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="calkulaytor" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> calkulaytor
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dz-7" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> dz-7
            </NavLink>
        </div>
    </nav>

    <div class="nav-item px-3">
            <NavLink class="nav-link" href="gggg" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> gggg
            </NavLink>
        </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="chet" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> chet
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="ia" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> ia
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="dz2" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> dz2
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="compo-3" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> compo-3
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="massive" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> massive
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="class" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> class
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="class2" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> class2
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="class1" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> class1
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="copmdz" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> compdz
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="bdpage" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> bdpage
        </NavLink>
    </div>
</div>

